footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav
        li: a(href='https://github.com/vibgyor98/Chaalo') About Us
        li: a(href='#') Download App
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href="http://github.com/vibgyor98") Contact
    p.footer__copyright &copy; by Sourav Kar.